@{
    string titulo = "Primeira experiência ASP.NET";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@titulo</title>
    </head>

    <body>
        <p>Olá Mundo</p>
        <p>Olá ASP.NET</p>
        <p>@DateTime.Now</p>
    </body>
</html>